#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.897);
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  width: 100%;
}

.logo {
  color: white;
  margin: 20px 20px;
  font-family: 'Seaweed Script', cursive;
  font-size: 40px;
}

.nav-links-container {
  display: flex;
  margin: 0px 20px;
}

.nav-links {
  color: white;
}

.link {
  text-decoration: none;
}


